@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff") format("woff"),
       url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff") format("woff"),
       url("../fonts/robotomedium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff") format("woff"),
       url("../fonts/robotobold.woff2") format("woff2");
}

/*body > * {
  outline: 2px solid rgba(0, 0 , 150, 0.4);
}

body > * > * {
  outline: 2px solid rgba(0, 0 , 255, 0.4);
}

body > * > * > * {
  outline: 2px solid rgba(0, 150 , 255, 0.4);
}

body > * > * > * > * {
  outline: 2px solid rgba(0, 255 , 255, 0.4);
}

body > * > * > * > * > * {
  outline: 2px solid rgba(150, 255 , 255, 0.4);
}

body > * > * > * > * > * > * {
  outline: 2px solid red;
}

body > * > * > * > * > * > * > * {
  outline: 2px solid rgba(0, 150 , 255, 0.4);
}*/

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  display: inline-block;

  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  
  /*border-bottom: 1px solid #ffbc9e; /*#e84d37*/
}

.container {
  width: 1200px;
  
  margin: 0 auto;
  padding: 0 27px;

  box-sizing: border-box;
}

.main-header {
  padding-top: 10px;
  
  min-height: 70px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-header-logo {
  width: 154px;
  height: 58px;
  
  margin-right: 8px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  
  width: 570px;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  padding: 6px 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-header .catalog-link {
  position: relative;
}

.catalog-menu {
  position: absolute;
  top: 36px;
  left: -5px;
  z-index: 1;
  
  display: none;
  
  margin: 0;
  padding: 5px 0;
  
  width: 144px;
  min-height: 172px;
  
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  
  box-sizing: border-box;
}

.catalog-menu a {
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background: #f7f6f3;
  border-radius: 13px;

  color: #323232;
  font-weight: 700;
}

.catalog-link:hover .catalog-menu,
.catalog-link:focus .catalog-menu {
  display: block;
}

.site-navigation a:active {
  color: #000000;
  font-weight: 700;
  
  background: #f8f7f4;
  border: none;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.catalog-menu .new-list {
  margin: 0;
  padding: 5px 0;

  list-style: none;
}

.catalog-menu .new {
  position: relative;
  
  margin: 0;
  margin-bottom: 8px;
  padding: 7px 20px;
  
  font-weight: 700;
}

.catalog-menu .new::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 5px;
  
  height: 1px;
  width: 129px;
  
  background-color: rgba(50, 50, 50, 0.2);
}

.new-list a {
  color: #323232;
}

.new-list li {
  padding: 7px 20px;
}

.new-list a:hover,
.new-list a:focus {
  font-weight: 400;

  background-color: transparent;
  border-radius: 0;
}

.new-list li:hover,
.new-list li:focus {
  background-color: #fbded8;
}

.new-list li:active {
  background-color: #d07058;
}

.user-navigation {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 0;
  margin-left: auto;
  padding: 0;
  
  width: 246px;

  list-style: none;
}

.inner-page .user-navigation {
  width: 264px;
}

.user-navigation a {
  padding: 8px 19px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
    
  background-color: rgba(254, 254, 254, 0.2);
  border-radius: 20px;

  box-sizing: border-box;
}

.user-navigation .search-link {
  /*padding: 6px 8px;*/
  padding: 0;

  display: block;
  width: 33px;
  height: 33px;
}

.user-navigation .login-link,
.user-navigation .cart-link {
  position: relative;
  
  padding-left: 40px;
}

.login-link .icon,
.cart-link .icon {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
}

.search-link .icon {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 8px);
}

.inner-page .cart-link::before {
  background-image: url("../img/basket-red.svg");
}

.search-wrapper,
.login-wrapper,
.cart-wrapper {
  position: relative;

  margin-top: 10px;
  padding-bottom: 10px;

}

.search-form {
  position: absolute;
  top: 36px;
  right: 1px;
  z-index: 1;
  
  display: none;
  
  margin: 0;
  padding: 19px 15px;
  
  width: 340px;
  height: 83px;
  
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  
  list-style: none;
  box-sizing: border-box;
}

.icon {
  fill: #ffffff;
}

.search-link:hover .icon,
.search-link:focus .icon,
.login-link:hover .icon,
.login-link:focus .icon,
.cart-link:hover .icon,
.cart-link:focus .icon {
  fill: #000000;
}

.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus,
.cart-link:hover,
.cart-link:focus,
.inner-page .cart-link {
  background-color: #f7f6f3;
  border-radius: 25px;
}

.inner-page .link-current,
.inner-page .link-current:hover,
.inner-page .link-current:focus {
  color: #ffffff;
  
  background-color: #d07058;
  border-radius: 25px;
}

.new-list .link-current,
.new-list .link-current:hover,
.new-list .link-current:focus {
  background-color: #d07058;
  border-radius: 0;
}

.link-current a,
.link-current a:hover,
.link-current a:focus {
  color: #ffffff;
}

.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus,
.cart-link:hover,
.cart-link:focus,
.inner-page .cart-link {
  color: #323232;
}

.search-wrapper:hover .search-form,
.search-wrapper:focus .search-form {
  display: block;
}

.search-form p {
  min-width: 310px;
  
  margin: 0;
  padding: 0;
}

.login-form p {
  min-width: 240px;

  margin: 0;
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 0;
}

input,
textarea {
  width: 100%;
  height: 44px;
  
  padding-top: 17px;
  padding-left: 12px;
  padding-bottom: 17px;

  color: #323232;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  outline: none;

  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}

input:hover,
textarea:hover {
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 3px rgb(178, 178, 178)/*rgba(178, 178, 178, 0.52)*/;
}

input:focus,
textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 3px rgb(46, 136, 228)/*rgba(46, 136, 228, 0.52)*/;
}

.login-form {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: none;

  margin: 0;
  padding: 5px 20px;
  padding-right: 16px;
  
  width: 277px;
  height: 213px;

  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  list-style: none;
  box-sizing: border-box;
}

.login-wrapper:hover .login-form,
.login-wrapper:focus .login-form {
  display: block;
}

.login-form .button {
  width: 100px;
  padding: 10px 25px;
}

.container-mini {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.login-password-info {
  width: 121px;
}

.login-password-info a {
  padding: 0;
  margin: 0;

  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}

.login-password-info .new-login {
  margin-top: -3px;
}

.inner-page {
  background-color: #849d8f;
}

.main-header-info {
  align-self: flex-end;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.main-header-info p {
  margin: 0;
  padding: 5px 0;
}

.main-header-info a {
  font-size: 22px;
  line-height: 24px;
}

.button {
  display: inline-block;
  
  padding: 10px 35px;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;/******************************/
  border-radius: 50px;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  min-width: 940px;

  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: center 0;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.slider {
  position: relative;
  
  margin-bottom: 42px;
  padding-top: 272px;

  color: #ffffff;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-title {
  width: 700px;

  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 10;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  
  width: 17px;
  height: 17px;
  
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper .slider-item:nth-child(1),
#product-2:checked ~ .site-wrapper .slider-item:nth-child(2),
#product-3:checked ~ .site-wrapper .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"],
#product-1:active ~ .site-wrapper label[for="product-1"],
#product-2:active ~ .site-wrapper label[for="product-2"],
#product-3:active ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.site-wrapper label[for="product-1"]:hover,
.site-wrapper label[for="product-1"]:focus,
.site-wrapper label[for="product-2"]:focus,
.site-wrapper label[for="product-2"]:hover,
.site-wrapper label[for="product-3"]:focus,
.site-wrapper label[for="product-3"]:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-button {
  width: 210px;

  font-size: 32px;
  line-height: 44px;
}

.cart-table {
  position: absolute;
  top: 39px;
  right: 1px;
  z-index: 1;

  display: none;
  /*display: flex;
  justify-content: flex-start;
  flex-direction: column;*/
  
  margin: 0;
  padding: 18px 14px;
  
  width: 540px;
  height: 240px;

  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  
  list-style: none;
  box-sizing: border-box;
}

.cart-wrapper:hover .cart-table,
.cart-wrapper:focus .cart-table {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /*z-index: 1;*/
}

.table-wrapper {
  position: relative;
  
  display: flex;
  
  margin-bottom: 5px;
}

.cart-table-column {
  width: 65px;
}

.cart-table-column:nth-child(1) {
  width: 320px;
}

.cart-table-column:nth-child(1) .cart-th {
  padding-right: 20px;
  padding-left: 73px;
}

.cart-table-column .cart-th:last-child {
  padding-bottom: 5px;
}

.cart-table-column .cart-th {
  position: relative;
  
  padding-bottom: 26px;
}

.cart-table-column:nth-child(1) .cart-th::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 27px;
  
  width: 35px;
  height: 35px;

  background-repeat: no-repeat;
}

.cart-table-column:nth-child(1) .cart-th:nth-child(1)::before {
  background-image: url("../img/product-small-1.png");
}

.cart-table-column:nth-child(1)  .cart-th:nth-child(2)::before {
  background-image: url("../img/product-small-2.png");
}

.cart-table-column:nth-child(1) .cart-th::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  
  width: 11px;
  height: 11px;

  background-repeat: no-repeat;
  background-image: url("../img/cross-small.svg");
}

.cart-table-column:nth-child(2) {
  width: 124px;
}

.cart-th {
  margin: 0;
  margin-top: 7px;
  padding: 0;

  font-size: 13px;
  line-height: 20px;
}

.cart-th span {
  color: #999999;
}

.cart-total {
  align-self: flex-end;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.table-wrapper::after {
  content: "";

  position: absolute;
  bottom: -7px;
  left: 2px;

  width: 510px;
  height: 1px;
  
  background-color: #cacac7;
}

.cart-table .button {
  margin-left: auto;
  padding: 12px 15px;

  font-size: 18px;
  line-height: 24px;
  
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  margin-top: -18px;
  margin-bottom: 2px;
  padding: 0;
  padding-right: 120px;
  
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  
  margin-right: 21px;
}

.breadcrumbs li:last-child::after {
  content: "";
  
  /*margin-right: 0;*/
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -10px;
  
  width: 4px;
  height: 4px;

  /*background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;*/
}

.breadcrumbs-current,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}

.link-underline {
  position: relative;
}

.link-underline:hover,
.link-underline:focus {
  color: #ffbc9e;
}

.link-underline:hover::after,
.link-underline:focus::after,
.footer-copyright .link-underline::after,
.documents .link-underline::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  
  height: 1px;
  width: 100%;
  
  background-color: #ffbc9e; /*#e84d37*/
  opacity: 0.3;
}

.news .link-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  
  height: 1px;
  width: 100%;
  
  background-color: #323232;
}

.filters {
  margin-bottom: 24px;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.filter fieldset {
  margin: 0;
  margin-right: 16px;
  margin-bottom: 15px;
  padding: 0;

  border: none;
}

.filter-range,
.filter-fat,
.filter-fillers {
  position: relative;
  
  min-height: 37px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter legend {
  margin-left: 16px;
  margin-bottom: 5px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter fieldset:nth-child(1) {
  width: 190px;
}

.filter fieldset:nth-child(2) {
  position: relative;

  width: 220px;
}

.legend-price {
  display: flex;
  flex-wrap: wrap;
}

.range-controls {
  position: absolute;
  top: 16px;
  width: 177px;
  
  margin: 0px 20px;
}

.range-controls .scale {
  position: relative;
  
  height: 4px;
  
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 25px;
  
  width: 55%;  
  height: 4px;
  
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  top: -10px;
  
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  /*box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);*/
  
  cursor: pointer;
}

.range-toggle-min {
  top: -8px;
  left: 13px;
}

.range-toggle-max {
  top: -8px;
  left: 63%;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 58px;
}

.price-controls {
  position: absolute;
  top: -2px;
  left: 53px;

  width: 145px;
  
  padding-left: 3px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.price-controls label {
  display: inline-block;

  font: inherit;
  vertical-align: middle;

  cursor: pointer;
}

.price-controls input {
  width: 24px;
  height: 16px;
  
  margin: 0;
  margin-left: 2px;
  padding: 0;

  color: #ffffff;
  font: inherit;
  
  background: none;
  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-fat,
.filter-fillers {
  display: flex;
  flex-wrap: wrap;
}

.filter .filter-fat {
  padding-left: 5px;
  padding-right: 7px;
}

.filter .filter-fillers {
  padding-left: 13px;
}

select {
  width: 202px;
  
  padding: 7px 10px;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  
  background: transparent;
  border: none;
}

select:hover,
select:focus {
  color: #323232;
}

.styled-select:hover,
.styled-select:focus {
  background-image: url("../img/select-arrow-black.svg");
}

.styled-select {
  width: 190px;
  height: 38px;

  padding: 0;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  border: none;
  border-radius: 20px;
  
  overflow: hidden;
}

.filter-fat .filter-option {
  margin-right: 6px;
  padding-top: 8px;
  padding-left: 40px;
}

.filter-fillers .filter-option {
  margin-right: 19px;
  padding-top: 9px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  
  display: block;
  
  text-align: left;
  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;  
  left: -30px;
  
  width: 21px;
  height: 21px;
  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;

  width: 24px;
  height: 20px;
  
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 1;
}

.filter-input + label::before {
  opacity: 0.8;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label,
.filter-input:disabled:hover + label,
.filter-input:disabled:focus + label {
  opacity: 0.4;
  pointer-events: none;
}

.filter-button {
  margin-bottom: 16px;
  padding: 7px 27px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-shadow: none;
  
  background: rgba(255, 255, 255, 0.19);
  box-shadow: none;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  
  background: rgba(255, 255, 255, 1);
  box-shadow: none;
}

.filter-button:active {
  padding: 9px 29px;
  
  color: #000000;
  
  background: #fceeec;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
  border: none;
}

.promo {
  margin-bottom: 40px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  
  list-style: none;
}

.promo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  width: 560px;
  min-height: 229px;
  
  padding: 15px 18px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  
  background-size: cover;
  border-radius: 15px;
  
  box-sizing: border-box;
}

.promo-item:nth-child(1) {
  background-color: #b8012c;
  background-image: url("../img/background-1.png");
}

.promo-item:nth-child(2) {
  background-color: #7e523f;
  background-image: url("../img/background-2.png");
}

.promo-item h3 {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  margin-top: 15px;
}

.promo-item .button {
  align-self: flex-end;
  
  margin-top: 27px;
  margin-right: 3px;
  padding: 10px 22px;
}

.popular{
  margin-bottom: 38px;
}

.popular-list,
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.popular-item,
.catalog-item {
  position: relative;
  
  width: 267px;
  min-height: 325px;
}

.catalog-item {
  margin-bottom: 38px;
}

.buy {
  position: absolute;
  bottom: -52px;
  left: 33px;
  z-index: 1;
  
  display: none;
  
  padding: 11px 16px;
}

.catalog-item:hover .buy {
  display: block;
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: -1;
  
  width: 293px;
  height: calc(100% + 80px);
  /*height: 405px;*/
  
  box-sizing: border-box;
  border-radius: 7px;
  background-color: rgba(252, 238, 236, 0.2);

  cursor: pointer;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-item-title,
.catalog-item-title {
  margin: 0 5px;
  margin-top: 7px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;  
  text-align: center;
}

.popular-item-price,
.catalog-item-price {
  position:absolute;
  top: 177px;
  left: 0;
  
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-item .price,
.catalog-item .price {
  position: relative;
  
  width: 111px;

  padding-right: 34px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.popular-item .price:after,
.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 12px;
  right: 0;
  
  width: 31px;
  height: 36px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
}

.reference {
  padding: 23px 20px;
  margin-bottom: 42px;

  color: #323232;

  background-color: #ece0c4;
  background-image: url("../img/bg.png");
  border-radius: 10px;
}

.reference-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.reference h3 {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.reference-item {
  position: relative;

  margin-top: 22px;
  padding-left: 56px;
  
  width: 540px;
  
  /*font-size: 16px;
  line-height: 22px;
  font-weight: 400;*/
  box-sizing: border-box;
}

.reference-item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  
  width: 50px;
  height: 50px;
  
  background-position: 0 0;
  background-repeat: no-repeat;
}

.reference-item:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.reference-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.reference-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.reference-item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
}

.index-columns {
  display: flex;
  justify-content: space-between;
  
  min-height: 220px;
  
  margin-bottom: 38px;
}

.news {
  width: 560px;
  
  padding: 23px 19px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/article.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  
  box-sizing: border-box;
}

.news h2 {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  display: block;
  
  margin-right: 220px;

  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.subscribe {
  width: 560px;
  
  padding: 0;

  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-image: url("../img/bg-post.svg");
  background-size: cover;
  /*border: 5px solid #ffffff;*/
  border-radius: 12px;
  
  box-sizing: border-box;
}

.subscribe-wrapper {
  min-height: calc(100% - 10px);
  
  padding: 30px 21px;
  margin: 5px;

  background-color: #f8f7f4;
  border-radius: 12px;
  
  box-sizing: border-box;
}

.subscribe p {
  margin: 0;
  margin-bottom: 35px;
}

.subscribe input {
  width: 367px;
  
  margin-right: 8px;
}

.subscribe .button {
  width: 128px;
  
  padding: 9px 19px;
}

.pagination {
  position: relative;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  margin: 0;
  margin-top: 41px;
  margin-bottom: 31px;
  padding: 0;
}

.pagination::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  
  width: 100%;
  height: 1px;
  
  background-color: #ffffff;
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  
  list-style: none;
}

.pagination-item {
  margin: 0 2px;
  padding-top: 4px;
  
  width: 25px;
  height: 25px;
  
  text-align: center;
  
  border-radius: 50%;
  
  box-sizing: border-box;
}

.pagination a {
  margin: 0 2px;

  width: 20px;
  height: 20px;
}

.pagination-back {
  position: relative;
  margin-left: 0;
}

.pagination-next {
  position: relative;
  margin-right: 0;
}

.pagination-back::before,
.pagination-next::after {
  content: "";
  
  position: absolute;
  bottom: 6px;
  
  width: 7px;
  height: 7px;
  
  border-top: 1px solid #ffffff;
}

.pagination-back::before {
  left: 3px;
  border-left: 1px solid #ffffff;
  
  transform: rotate(-45deg);
}

.pagination-next::after {
  right: 2px;
  border-right: 1px solid #ffffff;
  
  transform: rotate(45deg);
}

.pagination-back {
  opacity: 0.2;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: rgba(252, 238, 236, 0.7);

  cursor: pointer;
}

.pagination-item:active,
.pagination-item-current {
  background-color: rgba(252, 238, 236, 1);

  cursor: pointer;
}

.pagination-item:active a,
.pagination-item-current a {
  color: #000000;
}


.map {
  min-height: 430px;
  
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.map .container {
  position: relative;
}

.contacts {
  position: absolute;
  right: 27px;
  top: 62px;
  z-index: 5;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 302px;
  height: 304px;

  padding: 30px 25px;
  
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  
  background-color: #ffffff;
  border-radius: 10px;
  
  box-sizing: border-box;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.adress .content {
  margin-bottom: 0;
  padding-right: 95px;
}

.contacts-adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.adress {
  margin-bottom: 17px;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
  margin-bottom: 27px;
}

.phone .content {
  margin-bottom: 4px;
}

.contacts .phone-number {
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contacts-time {
  margin-top: 3px;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.contacts .button {
  padding: 10px 5px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  min-height: 103px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 185px;
  
  margin: 0;
  padding: 0;
  padding-top: 7px;
  
  list-style: none;
}

.documents {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  
  width: 348px;

  list-style: none;
}

.documents li {
  position: relative;
  
  min-width: 120px;
  
  padding-left: 24px;
}

.documents a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.documents-current {
  font-weight: 700;
}

.documents-current::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;
  
  width: 15px;
  height: 13px;
  
  font-weight: 700;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 4px;

  width: 189px;
}

.footer-copyright b {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.social-button {
  display: block;

  width: 32px;
  height: 32px;
  
  vertical-align: middle;
  text-align: center;
  
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button .icon {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover .icon,
.social-button:focus .icon,
.social-button:active .icon {
  opacity: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  
  display: none;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  z-index: 10;
  
  display: none;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-feedback {
  top: 337px;
  left: 50%;
  
  display: none;
  
  width: 478px;
  height: 444px;
  
  margin-left: -237px;
  padding: 17px 24px;
  
  background-color: #f8f7f4;
  border-radius: 10px;
  
  box-sizing: border-box;
}

.overlay-show {
  display: block;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.feedback-item input {
  width: 267px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-item textarea {
  padding-top: 7px;
  
  height: 154px;
  resize: none;

  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-form .button {
  display: block;
  
  margin-left: auto;
  padding: 8px 24px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 17px;

  width: 18px;
  height: 17px;

  font-size: 0;

  opacity: 0.5;

  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}